<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}
</head>

<body>
{% if page.gallery-folder %}
<div class ="image-gallery">
  {% assign kaikkinimet = site.static_files | sort: 'date' | reverse %}
  {% for yksinimi in kaikkinimet %}
  {% if yksinimi.path contains page.gallery-folder %}
  {% assign kuvanpolkujanimi = yksinimi.path | split: "/" %}
  {% assign kuvanimi = kuvanpolkujanimi | last %}
    <div class="box">
    <a href="{{ site.imagesurl }}{{ kuvanimi }}" title="{{ kuvanimi }}">
      <img src="{{ site.thumbsurl }}{{ kuvanimi }} " alt="{{ kuvanimi }}"  class="img-gallery" />
     </a>
    </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
</body>
